@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


/* ========= VARAIBALES ========= */
:root{
    /* colors */
    --first-color: #E3F8FF;
    --second-color: #DCFAFB;
    --third-color: #FFE8DF;
    --accent-color: #FF5151;
    --dark-color: #161616;


    /* typography */
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}


@media screen and (min-width: 768px) {
    :root {
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
})

/* Global Css */

*,::after,::before{
    box-sizing: border-box;
}

body {      
    margin: 2rem 0 0 0;
    background-color: #FFF;
    color: var(--dark-color);
    font-family: var(--body-font);
}

h1{
    font-size: var(--h1-font-size);
}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration:none;
}

/* Layout */
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    gap: 2rem;
    align-items: center;
}

.row{
    padding: 2rem 0;
}


.title-shop {
    position: relative;
    margin: 0 2.5rem;
}

.title-shop::after{
    position: absolute;
    content: "";
    width: 72px;
    height: 2px;
    top:50%;
    background-color: var(--dark-color);
    margin-left: .25rem;
}


.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
}


.card:nth-child(1){
    background-color: var(--third-color);
}
.card:nth-child(2){
    background-color: var(--second-color);
}
.card:nth-child(3){
    background-color: var(--first-color);
}
.card:nth-child(4){
    background-color: var(--fourth-color);
}


.card__img {
    width: 180px;
    height: auto;
    padding: 3rem 0;
    transition: .5s;
}

.card__name {
    position: absolute;
    top: 0;
    left: -25%;
    writing-mode: vertical-rl;
    font-weight: bold;
    background-color: var(--dark-color);
    color: #fff;
    height: 100%;
    text-align: center;
    width: 3.5rem;
    transform: rotate(180deg);
    transition: .5s;
}

.card__prices {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
}

.card__icon {
    font-size: 1.5rem;
    color: var(--dark-color);
}

.card__icon:hover {
    color: var(--accent-color);
}

.card__price {
    display: block;
    text-align: center;
}

.card__price-before {
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: .25rem;
}


.card__price-now {
    font-size: var(--h3-font-size);
    font-weight: bold;
}

.card:hover{
    box-shadow: 0px .5rem 1rem #D1D9E6;
}

.card:hover .card__name{
    left: 0;
}

.card:hover .card__img{
    margin-left: 3.5rem;
    transform: rotate(30deg);
}


.card:hover .card__prices{
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}

/*-- MEDIA QUERIES --*/
@media screen and (min-width: 1200px){
    body{
        margin: 3rem 0 0 0;
    }
    .title-shop{
        margin: 0 5rem;
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}